<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyNhaHang.Properties.Settings.QuanLyNhaHangConnectionString"
            connectionString="Data Source=HVGIANG\SQLEXPRESS;Initial Catalog=QLNhaHangTiecCuoi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyNhaHang.Properties.Settings.ClientQLNhaHangTiecCuoiConnectionString"
            connectionString="Data Source=|DataDirectory|\QLNhaHangTiecCuoi.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="QuanLyNhaHang.Properties.Settings.ClientQLNhaHangTiecCuoi1ConnectionString"
            connectionString="Data Source=|DataDirectory|\QLNhaHangTiecCuoi1.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>