<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyNhaHang.Properties.Settings.QuanLyNhaHangConnectionString"
            connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=QuanLyNhaHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>